{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>

	<title>Suchana's Blog</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Suchana's Blog">
    <meta name="author" content="Suchana Das">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"> 
    
    <!-- FontAwesome JS-->
	<script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'css/theme-3.css' %}">

</head> 

<body>
    
    <header class="header text-center">
	
		<h1 class="blog-name pt-lg-4 mb-0"><a href="{% static 'home.html' %}">Suchana's Blog</a></h1>

	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'images/profile.png' %}" alt="image" >			
					{% if site.short_intro %}
					<div class="bio mb-3">{{site.short_intro}}<br><a href="{% static 'about.html' %}">Find out more about me</a></div><!--//bio-->
					{% else %}
					<div class="bio mb-3">Hi! This is Suchana, a storyteller & an avid enthusiast of the common yet uncommon ways we bear. Welcome! You’re just in the right place if you too are enticed to tell, feel, shape or change the hues of the stories there are.</a></div><!--//bio-->
					{% endif %}
					<ul class="social-list list-inline py-3 mx-auto">
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/suchana/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://twitter.com/suchana_trisha"><i class="fab fa-twitter fa-fw"></i></a></li>
			            
			        </ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item active">
					    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home fa-fw mr-2"></i>Blog Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="#"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
					</li>
				</ul>
				
				<div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="mail:buzz@suchanadas.com" target="_blank">Get in Touch</a>
				</div>
			</div>
		</nav>
    </header>
    
    <div class="main-wrapper">

	    {% block content %}{% endblock content%}

	    <footer class="footer text-center py-2 theme-bg-dark">
            <small class="copyright">Developed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="https://anikdas.dev" target="_blank">Anik Das</a></small>
	    </footer>
    
    </div><!--//main-wrapper-->
    
    
    <!-- Javascript -->          
    <script src="{% static 'plugins/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'plugins/popper.min.js'%}"></script> 
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<script id="dsq-count-scr" src="//suchanadas.disqus.com/count.js" async></script>
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6097ca24d5ff3987"></script>
     
    
</body>
</html> 

